body .footer {
  height: 27em;
  z-index: 99998 !important; }
  body .footer .nav-footer ul li.logo-footer_pc {
    display: none; }
  body .footer .nav-footer ul li.logo-footer {
    margin-top: -7px;
    padding-bottom: 0; }
    body .footer .nav-footer ul li.logo-footer img {
      height: 130px; }
  body .footer .nav-footer ul li.contacto_pc {
    display: none; }

.header {
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999999;
  padding-bottom: auto; }
  .header .navbar {
    font-family: "Roboto", sans-serif;
    z-index: 5;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: black !important; }
    .header .navbar .navbar-brand {
      color: white;
      font-weight: 700; }
    .header .navbar ul {
      text-align: center; }
    .header .navbar .navbar-toggler {
      border: none;
      color: white !important; }

.footer {
  font-weight: 500;
  opacity: 2;
  color: white;
  height: 25em;
  padding-top: 2em;
  text-align: center;
  background: linear-gradient(180deg, #7b421e 0%, #9e7d67 100%, #7b421e 100%);
  position: relative; }
  .footer .imagenWhatsapp {
    position: fixed;
    z-index: 99999;
    bottom: 1%;
    right: 3%;
    width: 15%; }
  .footer .nav-footer ul {
    margin-left: -2.8em;
    list-style: none !important; }
    .footer .nav-footer ul li {
      padding-bottom: 1em; }
      .footer .nav-footer ul li a {
        color: white; }
  .footer .icons-footer i {
    font-size: 1.5em; }
  .footer .icons-footer .fa-instagram {
    color: white; }
  .footer .icons-footer .fa-instagram:hover {
    color: #e66465; }
  .footer .icons-footer .fa-facebook-f {
    color: white;
    margin-left: 12%; }
  .footer .icons-footer .fa-facebook-f:hover {
    color: #1b73d5; }
  .footer .icons-footer .fa-envelope {
    color: white;
    margin-left: 12%; }
  .footer .icons-footer .fa-envelope:hover {
    color: #e2ca5f; }
  .footer .logo-footer {
    margin-top: 2em; }
  .footer .locacion {
    margin-top: 2em; }

@media screen and (min-width: 1024px) {
  body .footer .imagenWhatsapp {
    height: 4em;
    width: 4em;
    z-index: 999999 !important; }
  body .footer .nav-footer ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 20px;
    align-items: center;
    padding: 0;
    margin: 0; }
    body .footer .nav-footer ul li:not(.logo-footer_pc) {
      height: 65px;
      padding-top: 20px; }
    body .footer .nav-footer ul li.nav-footer_sobrenosotros {
      border-right: solid;
      width: 110%; }
    body .footer .nav-footer ul li.logo-footer_pc {
      display: block;
      margin-top: 15px;
      margin-bottom: 50px; }
      body .footer .nav-footer ul li.logo-footer_pc img {
        height: 190px; }
    body .footer .nav-footer ul li.logo-footer {
      display: none; }
    body .footer .nav-footer ul li.contacto_mobile {
      display: none; }
    body .footer .nav-footer ul li.contacto_pc {
      display: inline;
      border-right: solid;
      width: 80%; }
  body .footer .icons-footer {
    font-size: 25px;
    margin-top: -50px; }
    body .footer .icons-footer .fa-facebook-f,
    body .footer .icons-footer .fa-envelope {
      margin-left: 4%; }
  body .footer .locacion {
    font-size: 20px; } }

@media screen and (min-width: 1200px) {
  body .navbar-expand-xl .navbar-collapse {
    margin-left: 31%; }
  body ul li.nav-item a:hover {
    color: #4b4b4b !important;
    position: relative;
    bottom: 10px; }
  body .header .navbar {
    padding: 0; }
    body .header .navbar .nav-item {
      margin-right: 1.5rem; }
    body .header .navbar .navbar-brand .nav-logo1 {
      height: 70px; }
    body .header .navbar .navbar-brand .nav-logo2 {
      height: 100px; } }

@media (min-width: 1366px) {
  body .navbar-expand-xl .navbar-collapse {
    margin-left: 40%; } }

@media screen and (min-width: 1580px) {
  body .main .h4-mates {
    margin-left: 5.5% !important; }
  body .headProductos {
    height: 45em; }
    body .headProductos img {
      height: 50em !important; }
  body .presentacionHead {
    top: 12em; } }

@media (min-width: 1920px) {
  body .navbar-expand-xl .navbar-collapse {
    margin-left: 40%; }
  body .header .navbar {
    padding: 0; }
    body .header .navbar .nav-item {
      margin-right: 6.5rem; } }
