body {
	margin: 0;
	max-width: 100vw;
	overflow-x: hidden;
	button:focus {
		outline: none;
	}

	.nuestrosProductos {
		color: black;
		padding-top: 5em;
		padding-bottom: 1em;
		font-family: "Crimson Text", serif;
		z-index: 1;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			opacity: 0.4;
		}
		div {
			position: relative;
			z-index: 2;
		}
		h1 {
			width: 80%;
			font-size: 1.8rem;
			font-weight: 700;
			margin-left: 5%;
		}
		p {
			margin-left: 5%;
			font-weight: 500;
			width: 89%;
			font-size: 1rem;
			font-family: "Roboto", sans-serif;
		}
	}

	.modalProductos {
		width: 100%;
		height: 100%;
		z-index: 99998;
	}

	.productos {
		padding-top: 2em;
		padding-bottom: 5em;
		margin-bottom: -2em;
		background: rgb(226, 217, 193);
		color: black;
		text-align: center;
		opacity: 1;
		z-index: 99999;
		top: -1.5em;
		position: relative;
		.objetoProducto {
			button:hover {
				background: rgb(226, 223, 223);
			}
		}
		img {
			width: 150px;
			height: 150px;
		}
		.producto {
			padding-top: 2em;
			background: rgb(236, 231, 219);
			box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
			width: 83%;
			margin-left: 9%;
			border-radius: 15px;
			margin-top: 1.5em;
			font-family: "Crimson Text", serif;
			font-weight: 800;
			img {
				border-radius: 20px;
				box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
				margin-bottom: 1em;
			}
			button {
				padding: 0.3em 1.8em 0.3em 1.8em;
				margin-top: 0.6em;
				border-radius: 30px;
				box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
				margin-bottom: 2em;
				border: none;
				font-size: 1rem;
				font-weight: 500;
				font-family: "Crimson Text", serif;
				background: white;
			}
		}
	}

	.mostrarProductos {
		display: flex !important;
		flex-direction: column;
		z-index: 99999 !important;
	}

	.ocultar {
		display: none !important;
	}

	.estilosModal {
		z-index: 99999;
		height: 100vh;
		width: 100vw;
		position: absolute;
		top: -5px;
		bottom: 0;
		left: 0;
		background: white;
		.imagenModal {
			border-radius: 0px !important;
			width: 100vw;
			height: 45vh;
		}
		.nombreModal {
			position: absolute;
			top: 51.5%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: "Crimson Text", serif;
			font-weight: 600;
		}
		.descripcionModal {
			font-family: "Roboto", serif;
			font-weight: 400;
			position: absolute;
			top: 57%;
			left: 13%;
			max-width: 80%;
			text-align: left;
		}
		.textoNaranjaModal {
			font-family: "Roboto", serif;
			color: rgba(217, 104, 4, 0.8);
			font-size: 0.9rem;
			width: 65%;
			position: absolute;
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.buttonInteresModal {
			background: rgba(217, 104, 4, 1) !important;
			color: white;
			font-size: 1.2rem !important;
			position: absolute;
			top: 88%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.buttonInteresModal:hover {
			background: rgba(190, 90, 2, 1) !important;
		}
		.buttonOcultarEstilos {
			position: absolute;
			top: 2%;
			left: 90%;
			font-family: "Roboto";
			font-weight: 400;
			font-size: 1.3rem;
		}
		.buttonOcultarEstilos:hover {
			color: rgb(95, 89, 89);
			cursor: pointer;
		}
	}

	.navbar-light .navbar-toggler-icon {
		//cambiar stroke='rgba'
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
	}
	.header {
		height: 10vh;
		width: 100vw;
		position: fixed;
		top: 0;
		z-index: 999999;
		padding-bottom: auto;
		.navbar {
			font-family: "Roboto", sans-serif;
			z-index: 5;
			box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
			background: black !important;
			.navbar-brand {
				color: white;
				font-weight: 700;
			}
			ul {
				li.nav-item {
					a:hover {
						color: #4b4b4b !important;
						position: relative;
						bottom: 10px;
					}
				}
			}
			ul {
				text-align: center;
			}
			.navbar-toggler {
				border: none;
				color: white !important;
			}

			.nav-item {
				a {
					color: white !important;
					font-weight: 700;
				}
				a:hover {
					color: rgb(110, 110, 110);
				}
			}
		}
	}
	.footer {
		font-weight: 500;
		opacity: 2;
		color: white;
		height: 25em;
		padding-top: 2em;
		text-align: center;
		background: linear-gradient(
			180deg,
			hsla(23, 61%, 30%, 1) 0%,
			hsla(24, 22%, 51%, 1) 100%,
			hsla(23, 61%, 30%, 1) 100%
		);
		position: relative;
		.imagenWhatsapp {
			position: fixed;
			z-index: 99999;
			bottom: 1%;
			right: 3%;
			width: 15%;
		}
		.nav-footer {
			ul {
				li {
					padding-bottom: 1em;
					a {
						color: white;
					}
				}
				margin-left: -2.8em;
				list-style: none !important;
			}
		}
		.icons-footer {
			i {
				font-size: 1.5em;
			}
			.fa-instagram {
				color: white;
			}
			.fa-instagram:hover {
				color: #e66465;
			}
			.fa-facebook-f {
				color: white;
				margin-left: 12%;
			}
			.fa-facebook-f:hover {
				color: #1b73d5;
			}
			.fa-envelope {
				color: white;
				margin-left: 12%;
			}
			.fa-envelope:hover {
				color: #e2ca5f;
			}
		}
		.logo-footer {
			margin-top: 2em;
		}
		.locacion {
			margin-top: 2em;
		}
	}
}

@media screen and (min-width: 420px) {
	body {
		.imagenMate {
			width: 17em !important;
			height: 17em !important;
		}
	}
}

@media screen and (min-width: 500px) {
	body {
		.estilosModal {
			.imagenModal {
				width: 100vw;
				height: 45vh;
				padding: 0 15% 0 15%;
			}
			.nombreModal {
				top: 51.5%;
				left: 50%;
				font-weight: 600;
				font-size: 2rem;
			}
			.descripcionModal {
				font-family: "Roboto", serif;
				font-weight: 400;
				text-align: left;
				font-size: 1.2rem;
			}
			.textoNaranjaModal {
				font-size: 1.1rem;
				width: 65%;
				top: 80%;
				left: 50%;
			}
			.buttonInteresModal {
				font-size: 1.2rem !important;
				top: 88%;
				left: 50%;
			}
		}
	}
}

@media screen and (min-width: 700px) {
	body {
		.imagenMate {
			width: 12em !important;
			height: 12em !important;
		}
		.productos {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.producto {
				width: 37%;
			}
		}
		.estilosModal {
			.imagenModal {
				width: 100vw;
				height: 45vh;
				padding: 0 20% 0 20%;
			}
			.nombreModal {
				top: 51.5%;
				left: 50%;
				font-weight: 600;
				font-size: 2rem;
			}
			.descripcionModal {
				font-family: "Roboto", serif;
				font-weight: 400;
				text-align: left;
				font-size: 1.4rem;
			}
			.textoNaranjaModal {
				font-size: 1.3rem;
				width: 65%;
				top: 80%;
				left: 50%;
			}
			.buttonInteresModal {
				font-size: 1.2rem !important;
				top: 88%;
				left: 50%;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	body {
		.nuestrosProductos {
			margin-top: 3em;
			margin-bottom: 3em;
			color: black;
			padding-top: 5em;
			padding-bottom: 0em;
			font-family: "Crimson Text", serif;
			z-index: 1;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 97.3%;
				opacity: 0.4;
			}
			div {
				position: relative;
				z-index: 2;
			}
			h1 {
				width: 80%;
				font-size: 3rem;
				font-weight: 700;
				margin-left: 5%;
				margin-bottom: 0.7em;
			}
			p {
				margin-left: 5%;
				font-weight: 500;
				width: 89%;
				font-size: 1.1rem;
				font-family: "Roboto", sans-serif;
			}
		}
		.productos div:first-child {
			margin-top: 1.5em;
		}
		.productos {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			overflow-x: hidden;
			padding-bottom: 10em;
			padding-left: 10%;
			position: relative;
			top: 1em;
			.producto {
				width: 25%;
				padding-top: 0.5em;
				margin-left: 2em;
				.imagenMate {
					width: 75%;
					height: 10em;
				}
				button {
					margin-bottom: 2em;
				}
			}
		}
		.estilosModal {
			display: none;
			position: absolute;
			top: 37%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 58em;
			border-radius: 10px;
			max-height: 37em;
			.imagenModal {
				width: 100vw;
				height: 45vh;
				padding: 0 0 0 0;
			}
			.contenidoModal {
				width: 100%;
				display: flex;
				flex-direction: column;
				position: relative;
				.hr {
					display: flex;
					position: absolute;
					margin-top: 0 !important;
					top: 100px;
					width: 92%;
					margin-left: 1.5em;
					background: grey;
					opacity: 0.3;
				}
				.nombreModal {
					position: absolute;
					left: 230px !important;
					top: 55px;
					overflow: hidden;
					font-size: 2.5rem;
				}
				.descripcionModal {
					position: absolute;
					top: 140px;
					font-size: 1.3rem;
					width: 90%;
				}
				.textoNaranjaModal {
					position: absolute;
					top: 400px;
					left: 230px !important;
					width: 80% !important;
					font-size: 1.2rem;
				}
				.buttonInteresModal {
					position: absolute;
					top: 465px;
					left: 230px !important;
				}
			}
			.imagenModal {
				border-radius: 15px !important;
				max-width: 47%;
				height: 80%;
				margin-left: 2em;
				margin-top: 3.5em;
				margin-right: 0 !important;
			}
		}
	}
}

@media screen and (min-width: 1440px) {
	body {
		.imagenMate {
			width: 17em !important;
			height: 17em !important;
		}
	}
}
