body {
  max-width: 100vw;
  overflow-x: hidden; }
  body .reset {
    text-align: left;
    margin: 0;
    padding: 0; }
  body button:focus {
    outline: none; }
  body .header {
    height: 10vh; }
    body .header .navbar {
      font-family: "Roboto", sans-serif;
      z-index: 5;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
      background-color: rgba(223, 223, 223, 0.5) !important; }
      body .header .navbar .navbar-brand {
        color: black;
        font-weight: 700; }
      body .header .navbar ul {
        text-align: center; }
      body .header .navbar .navbar-toggler {
        border: none;
        color: white !important; }
      body .header .navbar .nav-item a {
        font-weight: 700; }
      body .header .navbar .nav-item a:hover {
        color: #6e6e6e; }
    body .header .navbar::before {
      opacity: 0.5;
      z-index: -9999;
      content: "";
      position: absolute;
      z-index: -9999;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  body .main {
    text-align: center;
    margin-top: 10em;
    width: 100%; }
    body .main .h1-scouts {
      padding: 0.5em 0.2em 0.2em 0.1em;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: "Roboto", sans-serif; }
    body .main .h4-mates {
      font-size: 1.4rem;
      padding: 0em 0em 3em 0em;
      margin-left: 0.5em;
      font-weight: 600;
      width: 90%;
      font-family: "Crimson Text", serif; }
    body .main .btn-light {
      padding: 0.3em 1.8em 0.3em 1.8em;
      border-radius: 30px;
      box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 9em;
      font-size: 1.4rem; }
    body .main .sobre-nosotros {
      background: white;
      text-align: left; }
      body .main .sobre-nosotros h2 {
        font-size: 1.3rem;
        width: 85%;
        padding-top: 2em;
        margin-left: 0.7em;
        margin-bottom: 2em;
        color: #d96804; }
      body .main .sobre-nosotros p {
        width: 88%;
        font-size: 0.9rem;
        margin-left: 1.1em;
        margin-bottom: 0.5em; }
      body .main .sobre-nosotros .nuestro-producto {
        margin-bottom: 3em; }
      body .main .sobre-nosotros img {
        width: 100vw;
        margin-top: 2em; }
      body .main .sobre-nosotros a {
        border-radius: 20px;
        padding: 0.5em 2em 0.5em 2em;
        box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
        background: #d96804;
        text-decoration: none;
        color: white;
        font-family: "Crimson Text", serif;
        font-size: 0.9rem;
        font-weight: 300;
        margin-left: 1.5em; }
      body .main .sobre-nosotros a:hover {
        background: #e48b3d; }
    body .main .contacto {
      background: white; }
      body .main .contacto .headContacto {
        background-image: url("../assets/arbolContacto.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.3;
        text-align: left; }
        body .main .contacto .headContacto .presentacion {
          padding: 71px 17px 30px 17px; }
          body .main .contacto .headContacto .presentacion h2 {
            font-size: 1.3rem;
            color: #d96804; }
          body .main .contacto .headContacto .presentacion p {
            font-size: 0.9rem;
            margin-bottom: 0.5em;
            line-height: 22px; }
      body .main .contacto .formulario {
        padding-top: 60px; }
        body .main .contacto .formulario div {
          padding-left: 16px;
          padding-right: 16px;
          margin-top: 18px; }
        body .main .contacto .formulario input {
          font-size: 0.9rem;
          height: 40px;
          border: 1px solid rgba(0, 0, 0, 0.6);
          box-sizing: border-box;
          border-radius: 10px;
          width: 100%;
          padding-left: 10px; }
        body .main .contacto .formulario textarea {
          font-size: 0.9rem;
          border: 1px solid rgba(0, 0, 0, 0.6);
          box-sizing: border-box;
          border-radius: 10px;
          height: 200px;
          width: 100%;
          padding-left: 10px; }
        body .main .contacto .formulario .formulario-button {
          text-align: right; }
        body .main .contacto .formulario button {
          border-color: transparent;
          border-radius: 20px;
          padding: 0.5em 2em 0.5em 2em;
          box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
          background: #d96804;
          text-decoration: none;
          color: white;
          font-family: "Crimson Text", serif;
          font-size: 0.9rem;
          font-weight: 300;
          margin-left: 1.5em;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          padding-top: 4px;
          width: 145px;
          height: 33px;
          margin-bottom: 100px; }
        body .main .contacto .formulario button:hover {
          background: #e48b3d; }
  body .footer {
    font-weight: 500;
    opacity: 2;
    color: white;
    height: 25em;
    padding-top: 2em;
    text-align: center;
    background-image: linear-gradient(#4e4e36, rgba(78, 78, 54, 0.66));
    position: relative; }
    body .footer .imagenWhatsapp {
      position: fixed;
      bottom: 1%;
      right: 3%;
      width: 15%; }
    body .footer .nav-footer ul {
      margin-left: -2.8em;
      list-style: none !important; }
      body .footer .nav-footer ul li {
        padding-bottom: 1em; }
        body .footer .nav-footer ul li a {
          color: white; }
    body .footer .icons-footer i {
      font-size: 1.5em; }
    body .footer .icons-footer .fa-instagram {
      color: white; }
    body .footer .icons-footer .fa-instagram:hover {
      color: #e66465; }
    body .footer .icons-footer .fa-facebook-f {
      color: white;
      margin-left: 12%; }
    body .footer .icons-footer .fa-facebook-f:hover {
      color: #1b73d5; }
    body .footer .icons-footer .fa-envelope {
      color: white;
      margin-left: 12%; }
    body .footer .icons-footer .fa-envelope:hover {
      color: #e2ca5f; }
    body .footer .logo-footer {
      margin-top: 2em; }
    body .footer .locacion {
      margin-top: 2em; }

body::before {
  content: "";
  position: fixed;
  z-index: -9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../assets/image bosque.jpg") center center;
  opacity: 0.4; }
