body {
	button:focus {
		outline: none;
	}
	.header {
		height: 10vh;
		.navbar {
			font-family: "Roboto", sans-serif;
			z-index: 5;
			box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
			.navbar-brand {
				color: black;
				font-weight: 700;
			}
			background-color: rgba(223, 223, 223, 0.5) !important;
			ul {
				text-align: center;
			}
			.navbar-toggler {
				border: none;
				color: white !important;
			}
			.nav-item {
				a {
					font-weight: 700;
				}
			}
		}
		.navbar::before {
			opacity: 0.5;
			z-index: -9999;
			content: "";
			position: absolute;
			z-index: -9999;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.main {
		text-align: center;
		margin-top: 10em;
		width: 100%;
		.h1-scouts {
			padding: 0.5em 0.2em 0.2em 0.1em;
			font-size: 2.4rem;
			font-weight: 700;
			font-family: "Roboto", sans-serif;
		}
		.h4-mates {
			font-size: 1.4rem;
			padding: 0em 0em 3em 0em;
			margin-left: 0.5em;
			font-weight: 600;
			width: 90%;
			font-family: "Crimson Text", serif;
		}
		.btn-light {
			padding: 0.3em 1.8em 0.3em 1.8em;
			border-radius: 30px;
			box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
			margin-bottom: 9em;
			font-size: 1.4rem;
		}
	}
	.footer {
		background: white;
		position: relative;
		height: 10vh;
		.imagenWhatsapp {
			position: fixed;
			bottom: 1%;
			right: 1%;
			width: 15%;
		}
	}
}

body::before {
	content: "";
	position: fixed;
	z-index: -9999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url("../assets/image\ bosque.jpg") center center;
	opacity: 0.4;
}
